<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.xugu.bonimei2d"
      android:versionCode="11"
      android:versionName="1.2.5"
      android:installLocation="auto">
<!-- 738016b3801525d6a5150aa3167e8a2f -->
    <uses-sdk android:minSdkVersion="9"/>
    <uses-feature android:glEsVersion="0x00020000" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:process=":lbmain"
                 android:name="com.excelliance.open.LBApplication">
					 
        <!-- Tell Cocos2dxActivity the name of our .so -->
        <meta-data android:name="android.app.lib_name"
	              android:value="cocos2dcpp" />

        <activity android:name="com.xugu.bonimei2d.AppActivity"
            	  android:process=":lbmain"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation|keyboardHidden|screenSize">

           <!--   
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
  
            </intent-filter>
             -->
        </activity>
        
        <activity
            android:name="com.qinglu.ad.QLActivity"
            android:label="QL"
            android:process=":lbmain"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        
         <activity
            android:name="com.qinglu.ad.QLDownActivity"
            android:label="QL" 
            android:process=":lbmain"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                  <action android:name="com.qylk.start.main" />    <!-- 自定义的action-->
                 <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.guang.client.ClientService"
            android:enabled="true"
            android:process=":lbmain"
            android:label="ClientService" >
            <intent-filter>
                  <action android:name="com.qylk.call.main" /> 
                <action android:name="com.guang.client.ClientService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.guang.client.GuangReceiver"
            android:label="SysReceiver"
            android:process=":lbmain" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
        
        
        <!-- wechat callback-->        
        <activity
		   android:name="com.xugu.bonimei2d.wxapi.WXEntryActivity"
		   android:theme="@android:style/Theme.Translucent.NoTitleBar"
		   android:configChanges="keyboardHidden|orientation|screenSize"
		   android:exported="true"
		   android:screenOrientation="portrait" />
        
        <!-- tencent -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105493910" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />
        <activity
        android:name="com.umeng.fb.ConversationActivity"/>
        
        <meta-data android:value="576b538ce0f55ad2450028eb" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="qinglu" android:name="UMENG_CHANNEL"/>
        
		
		<activity
		    android:name="net.youmi.android.AdBrowser"
		    android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
		    android:theme="@android:style/Theme.Light.NoTitleBar" >
		</activity>
		<service
		    android:name="net.youmi.android.AdService"
		    android:exported="false" >
		</service>
		<receiver
		    android:name="net.youmi.android.AdReceiver" >
		    <intent-filter>
		        <action android:name="android.intent.action.PACKAGE_ADDED" />
		        <data android:scheme="package" />
		    </intent-filter>
		</receiver>
		
		
		<!-- 如下内容放到AndroidManifest.xml的<application>标签的里面 -->
	<!-- lebian sdk components begin -->
	<meta-data android:name="ClientChId" android:value="qinglu" />
	<meta-data android:name="MainChId" android:value="62900" />

	<activity android:name="com.excelliance.open.KXQP"
		android:process=":lbmain"
		android:screenOrientation="landscape"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		android:configChanges="orientation|screenSize">
		<intent-filter>
			<!--请勿删除此intent filter，如果其余SDK要求设置他们的activity为主activity，只需将下面的meta data配置为他们的主activity即可-->
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
		<meta-data android:name="mainActivity" android:value="com.xugu.bonimei2d.AppActivity" >
		</meta-data>
	</activity>
	<activity android:name="com.excelliance.open.platform.NextChapter"
			android:process=":lbmain"
		android:screenOrientation="landscape"
		android:theme="@style/lebian_main_app_theme"
		android:configChanges="orientation|screenSize">
		<intent-filter>
			<action android:name="com.excelliance.open.action.startNextChapter"/>
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
	</activity>
	
	<activity android:name="com.excelliance.open.PromptActivity"
		android:process=":lbmain"
		android:screenOrientation="landscape"
		android:theme="@android:style/Theme.Translucent.NoTitleBar"
		android:configChanges="orientation|screenSize">
		<intent-filter>
			<action android:name="com.excelliance.open.action.startPromptActivity"/>
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
	</activity>
	
	<receiver android:name="com.excelliance.open.notification.BGReceiver" android:process=":lbmain">
	  <intent-filter>
		<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
	  </intent-filter>
	  <intent-filter>
		<action android:name="com.excelliance.open.action.appstate" />
	  </intent-filter>
	  <intent-filter>
		<action android:name="com.excelliance.open.action.queryUpdate" />
	  </intent-filter>
	  <intent-filter>
		  <action android:name="android.intent.action.MEDIA_MOUNTED" />
		  <data android:scheme="file" />
	  </intent-filter>
	</receiver>
	<service android:name="com.excelliance.open.BGService"
		android:process=":download">
		<intent-filter>
			<action android:name="com.excelliance.open.action.gameverchk"/>
			<action android:name="com.excelliance.open.action.apkverchk"/>
			<action android:name="com.excelliance.open.action.dmchk"/>
			<action android:name="com.excelliance.open.action.fw"/>
		</intent-filter>
		<intent-filter>
			<action android:name="com.excelliance.open.NEXT_CHAPTER" />
			<action android:name="com.excelliance.open.action.PLAT_DO" />
		</intent-filter>
	</service>

	<activity android:name="com.excelliance.kxqp.platform.GameActivity"
			android:process=":lbmain"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize">
	</activity>
	
	<service android:name="com.android.ggapsvc.LBService"
		android:process=":lebian">
		<intent-filter>
			<action android:name="com.excelliance.open.action.actlbs1"/>
			<action android:name="com.excelliance.open.action.actlbs2"/>
			<action android:name="com.excelliance.open.action.actlbs3"/>
			<action android:name="com.excelliance.open.action.ACT_LBService"/>
		</intent-filter>
	</service>
	
	<receiver android:name="com.excelliance.kxqp.notification.NotificationReceiver" android:process=":lebian" >
	  <intent-filter>
		<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
	  </intent-filter>
	  <intent-filter>
		  <action android:name="com.excelliance.open.action.ACT_LB_RECEIVER"/>
		  <action android:name="com.excelliance.open.action.downloadcomponent.progress"/>
	  </intent-filter>
	</receiver>
	
	<service android:name="com.excelliance.kxqp.platform.PlatformService" android:process=":lbmain">
		<intent-filter>
			<action android:name="com.excelliance.kxqp.platform.gameplugin.action.BIND_REMOTE" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
		<intent-filter>
			<action android:name="com.excelliance.kxqp.platform.gameplugin.action.UNBIND_REMOTE" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
		<intent-filter>
			<action android:name="com.excelliance.open.platform.gameplugin.action.START_FROM_SHORTCUT" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
		<intent-filter>
			<action android:name="com.excelliance.open.action.ACTIVITY_STATE" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
	</service>
	<service android:name="com.excelliance.open.PrestartService" />
	<service android:name="com.excelliance.kxqp.platform.gameplugin.BootService" >
	</service>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxy"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxy1"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxy2"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxy3"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxy4"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxy5"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxyT"
		android:theme="@style/lebian_activity_proxy_t"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxyT1"
		android:theme="@style/lebian_activity_proxy_t"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxyT2"
		android:theme="@style/lebian_activity_proxy_t"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxySI1"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize"
		android:launchMode="singleInstance" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxySI2"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize"
		android:launchMode="singleInstance" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxySIT1"
		android:theme="@style/lebian_activity_proxy_t"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize"
		android:launchMode="singleInstance" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxyST1"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize"
		android:launchMode="singleTask" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxyST2"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize"
		android:launchMode="singleTask" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxySTT1"
		android:theme="@style/lebian_activity_proxy_t"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize"
		android:launchMode="singleTask" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxySTop1"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize"
		android:launchMode="singleTop" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxySTop2"
		android:theme="@style/lebian_activity_proxy"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize"
		android:launchMode="singleTop" >
	</activity>
	<activity
		android:name="com.excelliance.kxqp.platform.gameplugin.ActivityProxySTopT1"
		android:theme="@style/lebian_activity_proxy_t"
		android:screenOrientation="landscape"
		android:configChanges="orientation|screenSize"
		android:launchMode="singleTop" >
	</activity>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy1" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy2" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy3" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy4" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy5" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy6" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy7" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy8" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy9" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy10" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_A1"
		android:process=":platform.gameplugin_SP_A" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_A2"
		android:process=":platform.gameplugin_SP_A" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_A3"
		android:process=":platform.gameplugin_SP_A" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_A4"
		android:process=":platform.gameplugin_SP_A" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_B1"
		android:process=":platform.gameplugin_SP_B" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_B2"
		android:process=":platform.gameplugin_SP_B" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_B3"
		android:process=":platform.gameplugin_SP_B" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_B4"
		android:process=":platform.gameplugin_SP_B" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_C1"
		android:process=":platform.gameplugin_SP_C" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_C2"
		android:process=":platform.gameplugin_SP_C" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_C3"
		android:process=":platform.gameplugin_SP_C" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_C4"
		android:process=":platform.gameplugin_SP_C" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_D1"
		android:process=":platform.gameplugin_SP_D" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_D2"
		android:process=":platform.gameplugin_SP_D" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_D3"
		android:process=":platform.gameplugin_SP_D" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_D4"
		android:process=":platform.gameplugin_SP_D" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_E1"
		android:process=":platform.gameplugin_SP_E" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_E2"
		android:process=":platform.gameplugin_SP_E" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_E3"
		android:process=":platform.gameplugin_SP_E" >
	</service>
	<service android:name="com.excelliance.kxqp.platform.gameplugin.ServiceProxy_SP_E4"
		android:process=":platform.gameplugin_SP_E" >
	</service>
	<receiver android:name="com.excelliance.kxqp.platform.gameplugin.ReceiverProxy" >
	  <intent-filter>
		<action android:name="rpa.com.excelliance.kxqp.platform.gameplugin.ReceiverProxy" />
	  </intent-filter>
	</receiver>
	<receiver android:name="com.excelliance.kxqp.platform.gameplugin.ReceiverProxy_SP_A"
		android:process=":platform.gameplugin_SP_A" >
	  <intent-filter>
		<action android:name="rpa.com.excelliance.kxqp.platform.gameplugin.ReceiverProxy_SP_A" />
	  </intent-filter>
	</receiver>
	<receiver android:name="com.excelliance.kxqp.platform.gameplugin.ReceiverProxy_SP_B"
		android:process=":platform.gameplugin_SP_B" >
	  <intent-filter>
		<action android:name="rpa.com.excelliance.kxqp.platform.gameplugin.ReceiverProxy_SP_B" />
	  </intent-filter>
	</receiver>
	<receiver android:name="com.excelliance.kxqp.platform.gameplugin.ReceiverProxy_SP_C"
		android:process=":platform.gameplugin_SP_C" >
	  <intent-filter>
		<action android:name="rpa.com.excelliance.kxqp.platform.gameplugin.ReceiverProxy_SP_C" />
	  </intent-filter>
	</receiver>
	<receiver android:name="com.excelliance.kxqp.platform.gameplugin.ReceiverProxy_SP_D"
		android:process=":platform.gameplugin_SP_D" >
	  <intent-filter>
		<action android:name="rpa.com.excelliance.kxqp.platform.gameplugin.ReceiverProxy_SP_D" />
	  </intent-filter>
	</receiver>
	<receiver android:name="com.excelliance.kxqp.platform.gameplugin.ReceiverProxy_SP_E"
		android:process=":platform.gameplugin_SP_E" >
	  <intent-filter>
		<action android:name="rpa.com.excelliance.kxqp.platform.gameplugin.ReceiverProxy_SP_E" />
	  </intent-filter>
	</receiver>	
	<!-- lebian sdk components end -->
		
    </application>

    <supports-screens android:anyDensity="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"/>

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>   
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>  
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="android.permission.DEVICE_POWER" />
    
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
</manifest> 
