<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>点击屏幕上的火柴，往上拖，注意不要把其它火柴拖动</string>
	<string>拖到一个空旷的位置，往上扔出屏幕</string>
	<string>营救失败...</string>
	<string>大获全胜！</string>
	<string>准备中...</string>
	<string>开始！</string>
	<string>往上拖动查看下一页教程</string>
	<string>已拯救：</string>
	<string>加入官方QQ群</string>
	<string>1886697</string>
	<string>送微信红包</string>
	<string>微信扫一扫</string>
	<string>更多疑问请您关注官方QQ群号：1886697</string>
	<string>当前目标：</string>
	<string>根</string>
	<string>下关目标：</string>
	<string>分享成功后跳过本关哦！</string>
</array>
</plist>
